#
#  Copyright (c) 2024 Emanuele Ballarin <emanuele@ballarin.cc>
#  Released under the terms of the MIT License
#  (see: https://url.ballarin.cc/mitlicense)
#
# ------------------------------------------------------------------------------
# Necessary
torch>=2.12.0
torchsort>=0.1.10

# KeOps implementation
keopscore>=2.3
pykeops>=2.3

# Faiss implementation (cpu)
faiss-cpu>=1.14.3

# Faiss implementation (gpu, all CUDAs, older)
faiss-gpu>=1.7.2

# Faiss implementation (gpu, CUDA 11, newer)
faiss-gpu-cu11>=1.14.1.post1

# Faiss implementation (gpu, CUDA 12, newer)
faiss-gpu-cu12>=1.14.1.post1
